body {
    background-color: #ffcfc0;
    position: relative;
}

.flower {
    height: 70px;
    width: 70px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.flower:hover {
    transform: scale(1.2);
}


.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.message {
    background-color: #fff;
    color: #333;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
    margin: 20px 0;
}

.input-button {
    background-color: #f7b7a3;
    color: #7e3b3b;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.input-button:hover {
    background-color: #e69585;
}

.close-button {
    background-color: #f7b7a3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #e69585;
}

.password-input .MuiOutlinedInput-root {
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #f7b7a3;
    }
}

.password-input .MuiInputLabel-root {
    &.Mui-focused {
        color: #f7b7a3;
    }
}

.submit-button {
    &:hover {
        background-color: #e69585;
    }
}

.balloon-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balloon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.balloon {
    width: 70px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.balloon.popped {
    transform: scale(0);
}

.happy-birthday {
    animation: pop 1s forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.proceed-button {
    background-color: #f7b7a3;
    color: #7e3b3b;
    margin-top: 20px;
}

.proceed-button:hover {
    background-color: #e69585;
}


.random-font{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.help-button {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1000; /* Ensure it stays on top */
    background-color: #f7b7a3;
    color: #7e3b3b;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.help-button:hover {
    transform: scale(1.2);
}

